EasySpider/
node_modules/
*.csv
.idea/
.ipynb_checkpoints
dist/
build/
__pycache__/
*.spec
Chrome/
Data/
tasks/
Application/
.history
execution_instances/
.DS_Store
mysql_config.json
EasySpider.app/
TempUserDataFolder/

