commandline_config==2.2.3
requests==2.32.3
selenium==4.27.1
pyinstaller==5.13.2
Pillow==10.2.0
xlsxwriter==3.2.0
openpyxl==3.1.2
pymysql==1.1.1
lxml==5.3.0
ddddocr==1.5.6
pynput==1.7.6
beautifulsoup4==4.12.2
undetected-chromedriver==3.4.7
pandas==2.2.3
